{% extends 'index.html'%}
{% load markup %}

{% block content%}

<h1> 
    {{month|date:"F Y "}}
</h1>
<br>
<div class="center">
   <a href="/blog/entrada/{{previous_month|date:"Y"}}/{{previous_month|date:"b"}}">{{ previous_month|date:"F Y"}}</a> |
  <a href="/blog/entrada/{{ next_month|date:"Y"}}/{{ next_month|date:"b"}}">{{next_month|date:"F Y"}}</a>
</div>
<br/>
  {%for i in object_list%}
<div>
    <h3>
    <a href="{{i.permalink}}"> {{i.titulo}}</a>
    </h3>
        <div class="small right">{{i.fecha|date}} </div>
        {{i.contenido|markdown:"codehilite"|truncatewords_html:30}}
</div>
  {% endfor %}

<div class="center">
   <a href="/blog/entrada/{{previous_month|date:"Y"}}/{{previous_month|date:"b"}}">{{ previous_month|date:"F Y"}}</a> |
  <a href="/blog/entrada/{{ next_month|date:"Y"}}/{{ next_month|date:"b"}}">{{next_month|date:"F Y"}}</a>
</div>
{% endblock %}
