{% extends 'index.html'%}
{% load markup %}
{% block content%}
  <h1> {{object.titulo}} </h1>
        <div class="small right"> <a href="{{object.permalink}}">{{object.fecha|date}}</a> </div>
      <p>
        {{object.contenido|markdown:"codehilite"|urlize}} 
      </p>
      <div clas="entrada-links">
       {%for i in object.categoria.all %} <a href="{{i.permalink}}">{{i}}</a> {% endfor %}
      </div>
      <div class="entrada-links">
      
       <span class="a" onclick="addComment('{{object.pk}}')"> Comment ({# count_comment object.pk #})  </span>

      
      </div>
	
    <center><a href="/">BACK</a></center>
{%endblock%}
