{% extends "index.html" %}
{% load markup %}
{% load zodytag %}
{% block contenido %}
{% for j in latest_list %}
    {%with j as e %}
    <div class="entrada-all">
        <span class="round-up-left"></span>
        <span class="round-up-right"></span>
     
        <div class="entrada">
            <div class="x-small float-right" style="width:100px;height:20px">
                <a href="{{j.permalink}}">
                {{e.fecha|date}} 
                </a>
            </div>
            <h2> {{e.titulo}}</h2>
                {{e.contenido|safe|markdown:"codehilite" }} 
		<div class="center">
		{%for i in e.categoria.all %}
                    {% ifequal i.slug 'works'%}
                        <img src="http://img68.imageshack.us/img68/5930/worksonmymachinelogosmalf7.png"><br>
			<span style="color:red; font-size:xx-small">Certificated</span>
                    {% endifequal %}
		{% endfor %}	
		</div>

            <div class="left x-small categorias"> 
                {%for i in e.categoria.all %}
                    <a href="{{i.permalink}}"> {{i.nombre}}</a>  
                {% endfor %}
            </div>
            <div class="entrada-links">
                <a href="{{e.permalink}}">Direct Link </a> | 
                <span class="a" onclick="addComment('{{e.pk}}')"> Comment ({% count_comment e.id %})  </span>
            </div>
        </div>
        <!--
        <span class="round-down-left"></span>
        <span class="round-down-right"></span>
        -->

    </div>
    {% endwith %}
<div style="height:20px;"></div>
{% endfor %}
{% endblock %}
