/* ---- COMMON INPUT ELEMENTS ---- */
.m-form-input {
  border: 1px solid #aaa;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 2px;
  color: #555;
}
.m-form-input:hover {
  color: #000;
}
select.m-form-input {
  padding-left: 0px;
  padding-right: 0px;
}
.m-form-button {
  border: 1px solid #ddd;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  font-weight: bold;
  color: #555;
  cursor: pointer;
  background:  #eee url('img/notebook-tab-bg.png') bottom left repeat-x;
}
.m-form-button:hover {
  color: #333;
}
/* ---- COMMON INPUT ELEMENTS ---- */

/* ---- OVERLAY ---- */
.m-overlay {
  background: #000 !important;
  position: absolute;
  top: 0pt;
  left: 0pt;
  margin: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
/* ---- OVERLAY ---- */

/* ---- CAROUSEL ---- */
.m-carousel {
  position: relative;
  overflow: hidden;
}
.m-carousel ul.m-carousel-items {
  position: relative;
  display: block;
  list-style: none; 
  padding: 0px;
  margin: 0px;
  overflow: visible;
}
.m-carousel ul.m-carousel-items li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  float: left;
}
/* ---- CAROUSEL ---- */

/* ---- TREEVIEW ---- */
.m-treeview-frame li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.m-treeview-frame ul {
  margin: 0px;
  padding: 0px;
  margin-left: 0.8em;
  list-style: none;
  display: table;
}
.m-treeview li span {
  cursor: pointer;
}
.m-treeview li {
  cursor: pointer;
  list-style-image: url('img/treeview-item.gif');
}
.m-treeview li.m-selected {
  background: #F7FEFF;
  color: #06c;
}
.m-treeview li.m-collapsed {
  list-style-image: url('img/treeview-collapsed.gif');
}
.m-treeview li.m-expanded {
  list-style-image: url('img/treeview-expanded.gif');
}
/* ---- TREEVIEW ---- */

/* ---- BUBBLE ---- */
.m-bubble {
  border: 1px solid #888;
  background: #fff url('img/bubble-background.gif') top left repeat-x;
  width: 200px;
  color: #333;
  font-size: small;
  position: absolute;
  font-family: 'Arial';
  padding: 0px;
}
.m-red {
  border-bottom: 2px solid #f00;
}
.m-blue {
  border-bottom: 2px solid #06c;
}
.m-yellow {
  border-bottom: 2px solid #c60;
}
.m-bubble-content {
  padding: 0.5em;
}
.m-bubble-link-top,
.m-bubble-link-left,
.m-bubble-link-right,
.m-bubble-link-bottom
{
  width: 15px;
  height: 15px;
  position: absolute;
}
.m-bubble-link-top {
  top: -15px;
  background-image: url('img/bubble-top.gif');
}
.m-bubble-link-left {
  left: -15px;
  background-image: url('img/bubble-left.gif');
}
.m-bubble-link-right {
  right: -15px;
  background-image: url('img/bubble-right.gif');
}
.m-bubble-link-bottom {
  bottom: -15px;
  background-image: url('img/bubble-bottom.gif');
}
.m-bubble-content {

}
/* ---- BUBBLE ---- */


/* ---- POPUP CONTROL ---- */
.m-popup .m-resize {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 16px;
  height: 16px;
  background: #fff url('img/popup-button-resize.gif') bottom right no-repeat;
  cursor: se-resize;

}
.m-popup .m-control {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 16px;
  width: 100px;
}
.m-popup .m-control .m-button {
  background: blue;
  display: block;
  width: 16px;
  height: 16px;
  float: right;
  margin: 1px;
  cursor: pointer;
}
.m-popup .m-content-wrapper {
  position: absolute;
  left: 15px;
  bottom: 20px;
  right: 5px;
  top: 40px;
  overflow: auto;
  display: block;
}

.m-popup .m-control {
  top: 0px;
  right: 17px;
}
.m-popup .m-control .m-button {
  width: 23px;
  height: 23px;
}

.m-popup .m-control .m-popup-maximize {
  background: #fff url('img/popup-button-max.gif');
}
.m-popup .m-control .m-popup-maximize:hover {
  background: #fff url('img/popup-button-max-focus.gif');
}
.m-popup .m-control .m-popup-maximize:active {
  background: #fff url('img/popup-button-max-push.gif');
}

.m-popup .m-control .m-popup-close {
  background: #fff url('img/popup-button-close.gif');
}
.m-popup .m-control .m-popup-close:hover {
  background: #fff url('img/popup-button-close-focus.gif');
}
.m-popup .m-control .m-popup-close:active {
  background: #fff url('img/popup-button-close-push.gif');
}

.m-popup .m-control .m-popup-minimize {
  background: #fff url('img/popup-button-min.gif');
}
.m-popup .m-control .m-popup-minimize:hover {
  background: #fff url('img/popup-button-min-focus.gif');
}
.m-popup .m-control .m-popup-minimize:active {
  background: #fff url('img/popup-button-min-push.gif');
}

.m-popup .m-control .m-popup-restore {
  background: #fff url('img/popup-button-res.gif');
}
.m-popup .m-control .m-popup-restore:hover {
  background: #fff url('img/popup-button-res-focus.gif');
}
.m-popup .m-control .m-popup-restore:active {
  background: #fff url('img/popup-button-res-push.gif');
}
/* ---- POPUP CONTROL ---- */

/* ---- DIALOG CONTROL ---- */
.m-dialog {
  padding: 0px;
  margin: 0px;
  display: block;
  position: absolute;
  z-index: 10000;
  overflow: visible;
}
.m-dialog .m-buttons {
  text-align: right;
  position: absolute;
  right: 15px;
  bottom: 15px;
}
.m-dialog .m-buttons button {
  margin-left: 10px;
}
.m-dialog .m-close {
  font-family: arial;
  color: #aaa;
  position: absolute;
  display: block;
  right: 3px;
  top: 3px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.m-dialog .m-close:hover {
  color: #c00;
}

/* default top left corner */
.m-dialog .m-corner-tl {
  background: url('img/dialog-left-top-unfocus.gif');
  width: 10px;
  height: 25px;
  position: absolute;
  left: 0px;
  top: 0px;
}
/* active top left corner */
.m-active .m-corner-tl {
  background: url('img/dialog-left-top.gif');
}

/* default top right corner */
.m-dialog .m-corner-tr {
  background: url('img/dialog-right-top-unfocus.gif');
  width: 10px;
  height: 25px;
  position: absolute;
  right: 0px;
  top: 0px;
}
/* active top right corner */
.m-active .m-corner-tr {
  background: url('img/dialog-right-top.gif');
}


.m-dialog .m-corner-br {
  background: url('img/dialog-bottom-right-c.gif');
  font-size: 0px;
  width: 7px;
  height: 7px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.m-dialog .m-corner-bl {
  background: url('img/dialog-bottom-left-c.gif');
  font-size: 0px;
  width: 7px;
  height: 7px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.m-dialog .m-frame {
  padding: 0px;
  margin: 0px;
  position: relative;
}
.m-dialog .m-title {
  font-family: 'Trebuchet MS', 'Helvetica', 'Sans Serif';
  background: #fff url('img/dialog-top-middle-unfocus.gif') repeat-x;
  letter-spacing: -1px;
  color: #aaa;
  height: 25px;
  margin: 0px;
  padding: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  font-size: large;
}
.m-dialog .m-title span {
  display: block;
  padding: 0px;
  margin: 3px;
}
.m-active .m-title {
  background: #fff url('img/dialog-top-middle.gif') repeat-x;
  color: #666;
}
.m-dialog .m-foot {
  font-size: 0px;
  background: #fff url('img/dialog-bottom-middle.gif') bottom left repeat-x;
  height: 7px;
  margin-left: 7px;
  margin-right: 7px;
}
.m-dialog .m-body {
  background: #fff;
  color: #555;
  font-size: small;
  height: 100px;
  margin-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}
/* ---- DIALOG CONTROL ---- */

/* ---- DOCK CONTROL --- */
.m-dock {
  background: #eee url('img/dock-bg.gif') repeat-x;
  border-top: 1px solid #bbb;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 46px;
  overflow: auto;
  z-index: 10001;
  position: fixed;
}
.m-dock button {
  height: 21px;
  margin: 1px;
  width: 120px;
  font-size: small;
  overflow: hidden;
}
/* ---- DOCK CONTROL --- */

/* ---- DATAGRID CONTROL ---- */
.m-datagrid .frame {
  overflow: auto;
  height: 300px;
}
.m-datagrid input {
  border: 1px solid #fafafa;
  margin: 0px;
}
.m-datagrid table {
  border-spacing: 2px;
}
.m-datagrid table td {
  margin: 0px;
  padding: 0px;
}
.m-datagrid table thead td {
  border: 1px solid #e4e4e4;
  background: #fff url('img/datagrid-head.png') top left repeat-x;
  color: #888;
  text-align: center;
  font-weight: bold;
  font-size: small;
}
.m-datagrid .selected,
.m-datagrid tr.selected input
{
  color: #000;
  background: #E2F3FF;
  border: 1px solid #A0B3FF;
}
.m-datagrid .focus, .m-datagrid tr.focus td {
  color: #000;
  background: #fff;
  border: 1px solid #A0B3FF;
}
.m-datagrid tbody .id {
  background: #fafafa;
  color: #555;
  font-weight: bold;
  width: 40px;
  text-align: center;
}
/* ---- DATAGRID CONTROL ---- */

/* ---- NOTEBOOK CONTROL ---- */
.m-notebook {
  display: block;
  padding: 0px;
  margin: 0px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.m-notebook table.frametable {
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-collapse: collapse;
  border-spacing: 0px;
}
.m-notebook .contents {
  display: block;
  margin: 0px;
}
.m-notebook ul.tabs {
  display: block;
  background: url('img/notebook-tab-container-bottom.png') bottom left repeat-x;
  list-style-type: none;
  overflow: auto;
  font-size: small;
  list-style: none;
  padding: 0px 5px 4px 5px;
  margin: 0px;
  line-height: normal;
}
.m-notebook ul.tabs li.m-tab {
  position: relative;
  float: left;
  height: 36px;
  color: #aaa;
  letter-spacing: -1px;
  cursor: pointer;
  list-style: none;

  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 2px;

  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.m-notebook li.m-tab .m-tab-left {
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  width: 3px;
  height: 36px;
  background: url('img/notebook-tab-normal.png') top left no-repeat;
}
.m-notebook li.m-tab .m-tab-right {
  position: absolute;
  right: 0px;
  top: 0px;
  display: block;
  width: 3px;
  height: 36px;
  background: url('img/notebook-tab-normal.png') top right no-repeat;
}
.m-notebook li.m-tab .m-tab-label {
  background: url('img/notebook-tab-normal-bg.png') bottom left repeat-x;
  display: block;
  height: 36px;
  margin-left: 3px;
  margin-right: 3px;
}
.m-notebook li.m-tab .m-tab-label span {
  display: block;
  padding: 10px;
}

.m-notebook li.m-tab:hover .m-tab-left {
  background: url('img/notebook-tab-hover.png') top left no-repeat;
}
.m-notebook li.m-tab:hover .m-tab-right {
  background: url('img/notebook-tab-hover.png') top right no-repeat;
}
.m-notebook li.m-tab:hover .m-tab-label {
  background: url('img/notebook-tab-hover-bg.png') bottom left repeat-x;
  color: #333;
}

.m-notebook li.m-selected .m-tab-left,
.m-notebook li.m-selected:hover .m-tab-left
{
  background: url('img/notebook-tab-selected.png') top left no-repeat;
}
.m-notebook li.m-selected .m-tab-right,
.m-notebook li.m-selected:hover .m-tab-right
{
  background: url('img/notebook-tab-selected.png') top right no-repeat;
}
.m-notebook li.m-selected .m-tab-label,
.m-notebook li.m-selected:hover .m-tab-label
{
  background: url('img/notebook-tab-selected-bg.png') bottom left repeat-x;
  color: #000;
}
.m-notebook li.m-tab .m-tab-close {
  position: absolute;
  right: 5px;
  top: 3px;
  line-height: 50%;
  color: #800;
  visibility: hidden;
}
.m-notebook li.m-selected .m-tab-close {
  visibility: visible;
}
.m-notebook li.m-selected .m-tab-close:hover {
  color: #f00;
}
.m-notebook iframe {
  height: 300px;
}
.m-notebook .m-rename {
  width: 80px;
  margin: 10px;
  height: 16px;
}
/* ---- NOTEBOOK CONTROL ---- */

/* ---- CALENDAR CONTROL ---- */
.m-calendar {
  border-collapse: collapse;
  margin: 0 auto;
}
.m-calendar .text {
  font-size: small;
  font-weight: bold;
}
.m-calendar .head {
  padding: 2px;
}
.m-calendar td {
  padding: 0px;
  padding-bottom: 3px;
}
.m-calendar .main {
  padding: 4px;
}
.m-calendar .m-frame .grid {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
.m-calendar .m-frame .grid thead th {
  color: #888;
  font-size: small;
  background: #efefef;
  border-bottom: 1px solid #ddd;
}
.m-calendar .m-frame .grid td {
  font-size: small;
  text-align: center;
  color: #aaa;
  padding: 1px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0px;
  border-bottom: 1px solid #eee;
}
.m-calendar .m-frame .grid td.day:hover {
  background: #ffffaa;
  color: #111;
}
.m-calendar .m-frame .grid td.day {
  color: #222;
  cursor: pointer;
}
.m-calendar .m-frame .grid td.today {
  color: #000;
  background: #ffffbb;
}
.m-calendar .m-control {
  font-size: large;
  cursor: pointer;
  font-weight: bold;
  color: #999;
}
.m-calendar .m-control:hover {
  color: #c00;
}
/* ---- CALENDAR CONTROL ---- */

/* ---- EDITOR CONTROL ---- */
.m-editor {
  display: block;
}
.m-editor-set {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #eee;
}
.m-editor .contents {
  padding: 3px;
}
.m-editor textarea {

}
.m-editor iframe {
  height: 300px;
  width: 100%;
  margin: 0px;
  border: 0px;
}
.m-visual-area {
  border: 1px solid #ddd;
}
.m-editor-buttons {
  display: block;
  overflow: auto;
  background: #f8f8f8 url('img/editor-buttonbar-bg.png') top left repeat-x;
  border-bottom: 1px solid #ddd;
  padding: 5px;
  margin: 0px;
}
.m-editor-buttons img.m-button {
  border: 0px;
  margin: 0px;
  padding: 0px;
  border: 1px solid #f8f8f8;
  cursor: pointer;
}
.m-editor-buttons img.m-button:hover {
  border: 1px groove #ccc;
}
.m-editor-buttons .m-select {
  display: block;
  margin: 1px;
  padding: 0px;
  width: 144px;
  float: left;
}
.m-editor-buttons .m-select img {
  float: left; 
}
.m-editor-buttons .m-select select {
  margin: 0px;
  width: 120px;
  font-size: 7.5pt;
}
/* ---- EDITOR CONTROL ---- */

/* ---- TOOLBOX CONTROL ---- */
.m-toolbox {
  position: absolute;
  background: #fff;
  padding: 0px;
  margin: 0px;
}
/* ---- TOOLBOX CONTROL ---- */

/* ---- FILEBROWSER CONTROL ---- */
.m-filebrowser {
  width: 100%;
  display: block;
}
.m-filebrowser .m-fileview {
  display: block;
  padding: 2px;
  margin: 0px;
  overflow: auto;
  margin-right: 5px;
  height: 200px;
}  
.m-filebrowser .m-fileview .m-file {
  display: block;
  border: 1px solid #eee;
  width: 47%;
  white-space: nowrap;
  float: left;
  padding: 1px;
  margin: 1px;
  cursor: pointer;
  font-size: small;
  overflow: hidden;
}
.m-filebrowser .m-fileinfo {
  display: block;
  border: 1px solid #eee;
  float: right;
  width: 150px;
}
.m-filebrowser img.m-button {
  border: 0px;
  margin: 1px;
  padding: 0px;
  margin-bottom: 1px;
  margin-top: 1px;
  cursor: pointer;
}
.m-filebrowser img.m-button:hover {
  opacity: 0.6;
}
/* ---- FILEBROWSER CONTROL ---- */

/* ---- SPINBUTTON CONTROL ---- */
.m-spinbutton {
  overflow: auto;
}
.m-spinbutton input {
}
.m-spinbutton table {
  border: 0px;
  margin: 0px;
  font-size: 1px;
  border-collapse: collapse;
}
.m-spinbutton td {
  border: 0px;
  margin: 0px;
  width: 16px;
  padding: 0px;
}
.m-spinbutton tr {
  border: 0px;
  margin: 0px;
}
.m-spinbutton .m-buttons img {
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  width: 16px;
  height: 9px;
}
/* ---- SPINBUTTON CONTROL ---- */

/* ---- AUTOCOMPLETE CONTROL ---- */
.m-autocomplete {
  width: 300px; 
  z-index: 10;
  position: absolute;
  border: 1px solid #F7F7F7;  
  background: #FFFFFF;
  height: 150px;
  overflow: auto;
}
.m-autocomplete ul {
  list-style-type: none;
  border: 1px solid #FFFFFF;
  margin: 0px;
  padding: 0px;
}
.m-autocomplete ul li {
  color: #888;
  display: block;
  width: 280px;
}
.m-autocomplete .selected {
  background: #F7FEFF;
  cursor: pointer;
  color: #06c;
}
/* ---- AUTOCOMPLETE CONTROL ---- */

/* ---- MENU CONTROL ---- */
.m-menu ul {
  color: #333;
  background: #fff;
  font-size: small;
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 10em;
  position: relative;
}
.m-menu ul li {
  position: relative;
  display: block;
  list-style: none;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.m-menu ul a {
  display: block;
  width: 95%;
  color: #333;
  text-decoration: none;
  line-height: normal; 
  padding: 0.3em;
}
.m-menu ul a:hover {
  color: #00c;
  text-decoration: none;
}
.m-menu ul a:hover, .m-menu ul a:hover span {
  background: #06c;
  color: #fff;
}
.m-menu a img {
  border: 0px;
  margin-right: 2px;
}
.m-menu ul, .m-menu-hoz li ul {
  border: 1px solid #eee;
}
.m-menu li ul {
  position: absolute;
  margin-top: -1.7em;
  margin-left: 9.7em;
}
.m-menu li:hover li span.m-more {
  color: #07f;
}
.m-menu li:hover span.m-more {
  color: #fff;
}
.m-menu-hoz {
  display: block;
  background: #fff;
  height: 2em;
}
.m-menu-hoz ul li span.m-more {
  visibility: hidden;
}
.m-menu-hoz ul li ul span.m-more {
  visibility: visible;
}
.m-menu-hoz ul {
  width: auto;
  border: none;
}
.m-menu-hoz ul li {
  float: left;
  width: 10em;
}
.m-menu-hoz li ul {
  position: absolute;
  margin-top: 0em;
  margin-left: 0em;
}
.m-menu-hoz li ul li {
  float: none;
}
.m-menu-hoz li ul li ul {
  margin-top: -1.7em;
  margin-left: 9.7em;
}
span.m-more {
  position: absolute;
  display: block;
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  color: #07f;
  line-height: normal;
  padding-top: 0.3em;
  right: 5px;
  top: 0px;
}
/* ---- MENU CONTROL ---- */

/* ---- SELECTION CONTROL ---- */
.m-selection {
  border: 1px solid #06c;
  background: #DEEEFF;
  opacity: 0.6;
  overflow: visible;
}
/* ---- SELECTION CONTROL ---- */


/* ---- SEARCHLIST CONTROL ---- */
.m-searchlist {
}
.m-searchlist ul {
  list-style-type: none;
  margin: 2px;
  padding: 2px;
  background: #fff;
  max-height: 300px;
  overflow: auto;
}
.m-searchlist ul li {
  display: block;
  margin: 2px;
  padding: 2px;
  background: #fff;
  color: black;
  font-size: small;
  cursor: pointer;
  overflow: hidden;
}
.m-searchlist ul li.odd {
  border: 1px solid #eee;
  background: #f8f8f8;
}
.m-searchlist ul li.even {
  border: 1px solid #f3f3f3;
  background: #fff;
}
/* ---- SEARCHLIST CONTROL ---- */

/* ---- MISC ELEMENTS ---- */
div#m-log {
  left: 0px;
  bottom: 0px;
  right: 0px;
  position: absolute;
  position: fixed;
}
div#m-log .m-log-handler {
  height: 16px;
  cursor: move;
  background: #EFFFC1;
}
div#m-log .m-log-handler:hover {
}
div#m-log .m-log-content {
  background: #EFFFC1;
  overflow: auto;
  font-size: 12px;
  font-family: "monaco", "courier new", "andale mono", monotype;
}
div#m-log .m-log-toggle {
  width: 16px;
  height: 16px;
  background: url('img/debug.png');
}
div#m-log .log-line {
  padding: 3px;
  margin: 2px;
  background: #fff;
  border: 1px solid #eee;
}
div#m-log .m-log-var {
  font-weight: bold;
  color: blue;
}
div#m-log .m-log-constant {
  color: red;
} 
div#m-log .m-log-indent {
  margin-left: 10px;
}
.m-loading-mask {
  text-align: center;
}
.m-loading-mask-2 {
  position: relative;
  background: #fff;
}
.m-loading-mask-2 div {
  position: absolute;
  right: 0px;
  left: 0px;
  text-align: center;
  vertical-align: middle;
}
.m-loading-mask-2 img {
  margin: 10px;
}
.m-form-message {
  font-size: x-small;
  color: #06c;
  padding: 2px;
  border: 1px solid #81C0F5;
  margin-left: 2px;
  padding: 3px;
  background: #E1F1FF;
}

.m-form-mask {
  background: #fff;
  position: absolute;
  text-align: center;
  vertical-align: middle;
}
.m-form-mask img {
  margin: 10px;
}

.m-rpc-success, .m-rpc-error {
  position: fixed;
  top: 0px;
  font-size: small;
  padding: 0px;
  margin: 0px;
  width: 100%;
  left: 0px;
  border: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #06c;
  background: #DBF7FF;
  border-bottom: 1px solid #06c;
}
.m-rpc-success {
  color: #06c;
  background: #DBF7FF;
  border-bottom: 1px solid #06c;
}
.m-rpc-error {
  color: #c00;
  background: #FFF7DB;
  border-bottom: 1px solid #c00;
}
.m-rpc-error span, .m-rpc-success span {
  margin: 10px;
}
/* ---- MISC ELEMENTS ---- */

/* IE Specific workarounds \*/
* html .m-menu ul li { float: left; height: 1%; }
* html .m-menu ul li a { height: 1%; }
/* */
