{% extends "index.html"%}

{%block content%}
<div id="column1">
<h2>Acerca de mi.</h2>
<h5>www.opensrc.mx</h5>
<div class="ui-corner-all recuadro withborder">
<img src="{{MEDIA_URL}}images/yo.jpg"> 
</div>
<p>
Hola mi nombre es Andres Vargas,  soy Licenciado en Ciencias Computacionales y programador python. <P>Apasionado por el software libre y el opensource.</P><p> Tengo varios a&ntilde;os usando python. Si desas puedes contactarme por alguna implementacion de mis proyectos.
</p>
</div>
<div id="column2">
<h2>Skills</h2>
<h5>lo que puedo hacer</h5>
<p>
    <ul>
        <li> Lenguajes: Python, C#, VB,</li>
        <li> Software: django,Tryton Erp,Gnome</li>
        <li> Linux: ubuntu, debian, redhat, suse</li>
        <li> DB: mysql, mssql,postgress </li>
        <li> Javascript: jquery, jqueryUI, mootols,meteora </li>
        <li> SysAdmin: ssh, web, mail, base de datos</li>
    </ul>
</p>
</div>
{%endblock%}
