{% extends "index.html" %}
{% load markup %}
{% block script%}
<script lang="javascript">
$(document).ready( function() {
    $("#card").css("height","70px");
    $("#contenido").remove();
    });
</script>
{%endblock%}
{% block content %} {% endblock %}
{% block content_blog %}
<div class="container-blog">
<div class="submenus">
    <a href="{% url feed "latest"%}"><img class="" src="{{MEDIA_URL}}images/feed.png"></a>
</div>
    {%block blog_posts%}
        
        <div class="entrada-all ui-widget-content ui-corner-all">
            {%block blog_post %}
            {% endblock %}
        </div>
    {%endblock%}

{%endblock%}
