{%load markup webdesign%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<title></title>
<meta name="keywords" content="zodman, opensource, linux, software libre, sl, linux,foresight, tryton erp, tryton, foresightlinux,python,python ninja,linux user, mexico, linuxero, linuxero mexicano" />
<meta name="description" content="blog de zodman (Andres Vargas) opensrc.mx" />
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-ui-1.8.2.custom.min.js"></script>
<link rel="stylesheet" href="{{MEDIA_URL}}css/le-frog/jquery-ui-1.8.2.custom.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{MEDIA_URL}}newsite.css" type="text/css" media="screen" />

<!-- plugins -->
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.tipsy.js"></script>   
<link rel="stylesheet" href="{{MEDIA_URL}}css/tipsy.css" type="text/css" />

<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.form.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.json.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}messages.js"></script>
<script type="text/javascript">

    $(document).ready(function(){
        /*Tooltips*/
        $("img").tipsy({title:'alt'});
        /*Mensjages*/
        catchMessages();
    });



</script>   

{% block script %}
{% endblock%}

</head>
<body>
<div class="messages">
<ul id="messages" class="ui-state-error ui-corner-all">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
<div id="container" class="ui-corner-all recuadro">
<div id="card" class=" ui-widget-content ui-corner-all">
    <div class="encabezado">
<span id="titulo" class="right">
<span>Andres Vargas  </span>
         <img style="float:right;margin-left:5px;" src="{{MEDIA_URL}}images/shiriouken.png">
    </span>

        <ul id="icons" class="ui-widget-header ui-corner-all">
            <li>
                <a href="{%url home%}">
                <img src="{{MEDIA_URL}}images/icons/home.png" alt="Inicio">
                </a>
            </li>
            <li>

                <a href="{% url yo %}">
                <img src="{{MEDIA_URL}}images/icons/yo.png" alt="Acerca de Mi">
                </a>
            </li>
            <li>

                <a href="{% url blog %}">
                <img src="{{MEDIA_URL}}images/icons/blog.png" alt="Blogging">
                </a>
            </li>

            <li>

                <a href="{% url proyectos %}">
                <img src="{{MEDIA_URL}}images/icons/proyectos.png" alt="Proyectos">
                </a>
            </li>
            <li>

                <a href="{% url conferencias %}">
                <img src="{{MEDIA_URL}}images/icons/conferencias.png" alt="Conferencias">
                </a>
            </li>
            <li>
                <a href="{%url contacto %}">
                <img src="{{MEDIA_URL}}images/icons/contacto.png" alt="Contacto">
                </a>
            </li>
        
        </ul>
        

        </div>

    <div id="contenido"> 

    {%block content%}
        {%lorem 1%}
    {%endblock%}
    </div>
</div>
</div>

</body>
</html>
