{%load markup%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="/static/default.css" />
<link rel="stylesheet" type="text/css" href="/static/code.css" />
<link rel="stylesheet" type="text/css" href="/static/zody.css" />
<script type="text/javascript" src="/static/meteora/meteora.js"></script>
<script type="text/javascript" src="/static/zodyscripts.js"></script>
<script>
// Meteora.showDebug(true, true);

</script>
</head>
<body>

<div id="header">
	<div id="header_inner">
  <h1>
		<span>zodman</span> blog</h1>
		<div id="slogan">
        {%load cache %}
        {% cache 18000 twitter %}
        {% load twitter %}
        <div class="twitter">
            <img src="/static/images/twitter.gif">
            @zodman: {% twitter_status "zodman" %}
        </div>
        {% endcache %}
      </div>
	</div>
</div>

<div id="main">

	<div id="lcol">
		<div id="menu">
			<ul>
      {% block menu%}
				<li><a href="/" >Home<span></span></a></li>
				<li><a href="#" onclick="$('rcontent').setContent({ url:'/about'});">About<span></span></a></li>
				<li><a href="#" onclick="$('rcontent').setContent({ url:'/contacto'});">Scream Me<span></span></a></li>
				<li><a href="/blog/entrada/{% now "Y" %}">Archive<span></span></a></li>
      {% endblock %}
			</ul>
		</div>
            <br>
		<div id="menu_end"></div>

		<div id="lcontent">

      <h3>Andres<span>Vargas</span></h3>

      <iframe src="http://www.google.com/talk/service/badge/Show?tk=z01q6amlqfuj9ivb4lvdf5onmj0999p9qiu66lcdcv7eb5qa0veso4ghs19qjaam0gqmqnc5docehsjbioorkpr4fdpnjuqdlkt3hv75rla2hriale6a9e6ngvfhaunrgllqeejntrs4b5a6fde0h3sfd47s651rlgb6enm43&amp;w=159&amp;h=36" allowtransparency="true" frameborder="0" height="36" width="159"></iframe>
      <p class="small-about">
<a href="http://lh4.ggpht.com/zodman/R8hBIOEr3YI/AAAAAAAABeQ/x8jCySah1CE/s400/Imagen%28429%29.jpg" /> 
      <img src="http://lh4.ggpht.com/zodman/R8hBIOEr3YI/AAAAAAAABeQ/x8jCySah1CE/s144/Imagen%28429%29.jpg" /></a>
        Hi!, my nickName is zodman, im a Computer science Engineering.
        love the FLOSS and FreeSoftware. Python ninja and php coder.
        On left my love <a href="http://www.youtube.com/watch?v=Vu077-j95k8">Aisha</a> and me.
      </p>
      <div class="divider"></div>
			<h3 class="first">
                    Interest <span>links</span>
                    <div class="a seen"  onclick="showLinks(this)">seen more</div>
            </h3> 			
        <ul class="divided">
        {% block menu2 %}
        {% load links %}
        {% get_links %}
        {% for l in links %}
				  <li><a href="{{l.direccion}}">{{l.nombre}}</a></li>
        {% endfor %}
        {% endblock %}
			</ul>
      <br>
      <br>
       <a href="/feeds/latest/" border="0"><img border="0" src="/static/images/feed.png"> </a>
      <a href="http://www.djangoproject.com/">
        <img src="http://media.djangoproject.com/img/badges/djangopowered126x54.gif" border="0" alt="Powered by Django." title="Powered by Django." />
      </a>
    </div>
	</div>

	<div id="rcol">
		<div id="rcontent">
		  {% block contenido %}

        {% endblock %}
      
		</div><!-- end rcontent-->
	</div>

</div>

<div id="footer" class="x-small">
All rights reserved. Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree</a> + <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.
</div>

</body>
</html>
