<p>Desarrollador de Foresight.<br />
Lic en Ciencias Computacionales de la Universidad Autonoma de Yucatan. Facultad de Matematicas.
</p>
<p>Ponente en:<br />
* Congreso de la Frontera Sur (Chetumal Qroo - 2006, 2007)<br />
* Consol (DF, 2006 y 2007)<br />
* Fonasol (Coatza Ver, 2007)<br />
* ENLI (Puebla, Pue. 2007)<br />
</p>

<h1>Conferencias</h1>

<h3>Foresight Linux ( conferencia o taller )</h3>
<p>Foresight linux es una distribuición de linux relativamente nueva. Esta
   distro tiene como principal atractivo su manejador de software "conary"
   que es un sistema de enpaquetamiento revolucionario. Ademas de proveer
   siempre con la ultima version de gnome. Foresight esta orientado para
   aquellas personas que no conocen mas alla de la ventana. En esta
   conferencia se mostrara foresightlinux, su software base, el proceso de
   desarrollo, y hara una invitacion para participar,contribuir, ser
   miembro y desarrollador de foresightlinux. (Propuesta para magistral).
</p>

<h3>Empaquetando software para foresight ( Conferencia o taller )</h3>
<p>Foresight linux es una distribuición de linux relativamente nueva. Esta
   distro tiene como principal atractivo su manejador de software "conary".
   Esta conferencia se centra en el manejador de paquetes conary.
   Explicando y mostrando su estructura, manejo. Ademas se mostrara como
   facilmente podemos empaquetar software para foresight linux. Esta
   conferencia es para las personas que quieran contribuir con el proyecto
   y llegar a ser desarrolladores de foresight linux.
</p>

<h3>Un servidor de hosting casero  = infinitum+gnu/linux ( conferencia o taller) <a href="http://www.divshare.com/download/3650242-e43">http://www.divshare.com/download/3650242-e43</a></h3>
<p>En esta conferencia, se muestra como configurar la red de nuestra casa
   para lograr montar un servidor de hosting casero, el cual podra mantener
   las paginas de tus cuates. Algunos tips de seguridad, configuraciones. Y
   lo atractivo de la conferencia es como configurar dominios pagados, en
   tu servidor, evitandote el uso de una IP estatica.Esta conferencia no es
   un howto instalar apache/php/mysq/ftp, si no mas bien como saber como
   funcionan en conjunto, con el servidor, y saber administrarlo.
</p>

<h3>Pimp my cel con SL   (conferencia)</h3>
<ul>
 <li>
     OLD http://www.divshare.com/download/3650240-492
 </li>

 <li>
     NEW https://dl.getdropbox.com/u/235236/Pimp%20my%20cellphone.pdf
 </li>
</ul>
<p>Las aplicaciones con Software libre no solo se dan a nivel de desktop,
   si no tambien a nivel de dispositivos moviles, en esta conferencia se
   mostrara distitos softwares que se le pueden instalar a nuestro
   celulares (serie s60 NOKIA), ademas un poco de comunicacion con nuestro
   celular a travez del Bluetooth. Y como conectarnos a internet de manera
   gratis sin pagar por servicios de gprs
</p>

<h3>Terminales Tontas, o clientes delgados ( linux terminal server ) (conferencia) <a href="http://www.divshare.com/download/3650238-98e">http://www.divshare.com/download/3650238-98e</a></h3>
<p>Introducción a linux terminal server, como funciona, y distintas formas
   de realizarlo. Se hablara del proyecto ltsp del laboratorio de
   mantenimiento en la facultad de matematicas. Casos de exito.
   Ventajas/desventajas.
</p>

<h3>Python para principiantes ( Conferencia o taller )</h3>
<p>De los tantos lenguajes de alto nivel que existen en la actualidad,
   Python ha sido el seleccionado por la comunidad de desarrolladores de
   software libre como su lenguaje predilecto. Sin el impulso que compañías
   como Sun y Microsoft le brindaron a Java en sus inicios, Python ocupa ya
   un lugar especial en el stand de lenguajes de programación de propósito
   general. Gigantes como Google, RedHat, lo utilizan para el desarrollo de
   aplicaciones de vital importancia en su negocio o lo toman en cuenta
   para el desarrollo de sus herramientas de programación.
</p>

<h3>Python para celulares ( Conferencia o taller ) <a href="http://www.divshare.com/download/3650241-0cf">http://www.divshare.com/download/3650241-0cf</a></h3>
<p>pys60 es un port de Python para el sistema operativo Symbian de los
   celulares, especialmente para los Nokia de la serie s60. pys60 tiene
   soporte para gran número de funciones en el celular: bluetooth /
   mensajes / calendario / contacto entre otros. Esta conferencia se
   mostrará algo de bluetooth , cómo programar en nuestra pc pero que se
   ejecute en el celular. Emulación sin sdk. Algunas aplicaciones.
   Programacion en vivo.
</p>

<h3>La vida del estudiante mas facil con SL ( Conferencia )</h3>
<p>Durante mi vida estudiantil, nos marcaban proyectos que haciamos con las
   herramientas que nos proporcionaban los profesores (IDE), pero con el paso de los años me doy cuenta que existe herramientas que hacen mas facil nuestro camino estudiantil. Esta conferencia de las herramientas de programacion/edicion/utilerias que se pueden utilizar.
</p>

<h3>Desarrollo web con deadlines ( django framework ) ( Conferencia )</h3>
<p>Cuando desarrollamos un sitio web o cualquier tipo de proyecto siempre
   tenemo el problema de los limite de entregas, para superar esto mucha
   gente ah desarrollado tecnologia de desarrollo agil utilizando el modelo
   MVC. En esta ponencia se hablara de estos problemas y del model que esta
   causando la evolucion en desarrollo de proyectos. Todo esto utilizando
   django. Django es un framework para desarrollo web escrito en Python que
   propicia el desarrollo rápido y las buenas prácticas de programación.
   Guido van Rossum, creador de Python, usa Django de forma interna en Google.
</p>

<h3>¿Que es gnu/linux? ( Conferencia ) <a href="http://www.divshare.com/download/3650239-200">http://www.divshare.com/download/3650239-200</a></h3>
<p>Gnu gnu is not unix es un proyecto iniciado por richar stallman el cual
   se encarga de juntar muchas herramientas para poder desarrollar un
   sistema operativo libre. Principios filosoficos rigen este sistema
   operativo donde tienes la libertad absoluta de tu sistema.
</p>

<h1>Charlas de python</h1>

<h4>pys60 es un port de Python para el sistema operativo Symbian de los celulares, especialmente para los Nokia de la serie s60.</h4>
<p>pys60 tiene soporte para gran número de funciones en el celular:
</p>
<p>bluetooth 
   mensajes de texto 
   calendario 
   Manipulacion de contacto 
   Y mucho mas 
   Esta conferencia se mostrará:
</p>
<p>Interactuar con el driver de bluetooth de linux (bluez) 
   Que es el pys60,comparacion con otros lenguajes, como funciona y como metiero python en el celular. 
   Se mostraran ejemplos de codigo del pys60 y los resultados en el celular. 
   pys60 tiene una consola de python llamada bluetooth console; Y esta se levanta remotamente en tu pc. Por lo que toda linea de codigo que ejecutes en la consola se ejecutar en el celular. 
   Algo muy trabajose de hacer es programar tu aplicacion y ponerla en tu celular por que se expondra una manera facil de hacer push-execute a tu celular. 
   Existe un modulo de python que te permite emular el ambiente de pys60. Por lo que programas para el pys60 sin tener necesariamente un celular. 
</p>

<h4>Conary PackageManagement .. un manejador de paquetes para distros con poderes pythonicos.</h4>
<p>Conary es un sistema de gestión de paquetes libre creado por rPath Inc y distribuido bajo los términos de la Common Public License 
   Para empaquetar software tienes que programar en python. Por lo que esta charla se mostrara como una aplicacion en python puede automatizar empaquetamiento de software para linux. Asi como de como interactura en el API de conary y crear nuestra propia cliente de conary.
   Description:
   Acerca de conary:
   Conary enfoca en la instalación de paquetes a través de la resolución de dependencias automatizada, a diferencia del repositorio Linux distribuido en-linea, y provee un conciso y fácil de usar lenguaje de descripción basada en Python, para especificar como construir un paquete. Esto es usado por las distribuciones foresight linux, y rPath Linux.
   Conary actualiza sólo aquellos archivos específicos en los paquetes que tienen que ser actualizados; este comportamiento minimiza el ancho de banda y requerimientos de tiempo para actualizar paquetes de software.
   En resumen: conary esta echo en python y sirve para empaquetar software para linux.
   Donde entra python en la charla
   Para lograr empaquetar software tienes que programar en python el recipe(receta) de acuerdo al tipo de paquete tienes que saber que acciones vas a tomar (si el paquete eses un programa en python,perl,automake,autoconf,scons, etc etc). Seria bueno estar relacionado con procesos de compilacion o instalacion de software desde la fuente, con los tipicos:
   ./configure; make; make install; 
   python setup.py build; python setup.py install 
   Existe un software en foresight que utilizan varias distros. Packagekit este software es un fronted para varios manejadores de paquetes(apt,yum,pacman,conary) Para hacer funcionar PackageKit y conary se tuvo que programar e interactuar con conary a nivel de codigo y API. Y apartir de esto cree un modulo(conary-lib) que es un ejemplo de la implementacion del Conary API.
   Conferencia
   La conferencia se hablara de los siguiente:
   Pequeña introduccion a conary, que es, como funciona, y por que es un nuevo paradigma de empaquetamiento 
   Empaquetar software para conary, se mostrara lo facil que es crear un recipe ( y este recipe esta en python) Y como dara como resultado un software empaquetado y listo para usar en foresight linux. 
   Interaccion con api de conary utilizando el modulo conary-lib 
   La estructura de funcionamiento de packagekit y como se programa para que funcionara con conary. 
   conary-lib:https://github.com/zodman/conary-lib/tree
   Packagekit: www.packagekit.org
   rpath:www.rpath.com
</p>

<h4>django-meteora Meteora javascript widgets para django</h4>
<p>http://meteora.astrata.com.mx 
    Meteora es una serie de widgets en javascript para hacer RIA utilizando ajax y json. 
   Meteora es desarrollado por astratasoftware( www.astrata.com.mx ). 
   La aplicacion se centra en como implementar Meteora con django.
   Description:
   django-meteora es un aplicacion que escribi para integrar los widgets de meteora para django.
   En esta charla/conferencia se hablara:
   Que es meteora, y como funciona basicamente: Funcionamiento lado cliente(navegador), funcionamiento lado django 
   Login de django utilizando el widget forms y widget dialog. http://meteora.astrata.com.mx/pages/documentation/meteora-dialog 
   Utilizacion del jsonrpc y los django forms. Esto es integrar la validaciones de meteora para que funcionen en django. http://meteora.astrata.com.mx/pages/demo/meteora-form 
   Django Admin + widget Editor(WYSIWYG editor en el django admin). http://meteora.astrata.com.mx/pages/demo/meteora-editor 
   hacer un autocomplete input con django http://meteora.astrata.com.mx/pages/demo/meteora-autocomplete 
   django-meteora https://github.com/zodman/django-meteora/tree
   Requerimientos: Es necesario conocer django. Ya que no voy a enseñar a django.
</p>

<h4>Un smsgateway con python</h4>
<p>SMS Gateway es un dispositivo o servicio de SMS(mensaje de texto). El cual te permite enviar mensajes de texto atravez de la red. <br />
Esto se puede realizar de alguna manera con python ... <br />

</p>
<p>Cuando navegas en internet te encuentras con ciertos sitios web donde puedes ingresar tu numero de celular, para poder mandar mensajes de forma gratuita.
   !Sin conocer que es un smsgateway¡. Trate de poder realizar esta acción. Poder mandar un mensaje de texto atravez de la web.
   Hasta que de alguna forma casera logre hacer un smsgateway.
   La charla/conferencia consistira:
   Un pequeño reseña de la situacion del smsgateway en mexico. 
   Mi curiosidad de como poder mensajes de texto desde la web. 
   Softwarelibre que se comunica con celulares y librerias de python 
   La solucion y envio de mensajes desde la web en vivo. 
   Nota: Si es posible lleven celulares y cable de datos a la conferencia/charla.
</p>

</p>


