{%load zodytag %}

<div class="popup-comment">
    <h3>{{Entrada.titulo}}</h3>
    <div id="showComments" style="display:none"></div>
    <div class="right">
        <span class="a" id="show_comments"  onclick="showComments('{{Entrada.pk}}');"> Show Comments  ({% count_comment Entrada.pk %}) </span>
    </div>
    <div id="commentForm" class="margin-form">
        <h3>Post.<span>comment</span></h3>
        <form onsubmit="return formSubmit(this);" method="post" action="/zodycomments/add/{{Entrada.pk}}/">
	<span id="formcomment">
        <table>
        {{ form.as_table }}
        </table>
	</span>
        <input type="submit" value="Submit">
        </form>
        <div class="dialogActions">
            <span class="a" onclick="addCommentDialog.close()"> Close </span>
        </div>
    </div>
</div>
